<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='src/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='src/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='src/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='src/site.webmanifest') }}">
    <title>Natsume: {{ book.title.pretty }}</title>
    
    <!-- <link rel="stylesheet" href="./css/bulma.min.css">
    <link rel="stylesheet" href="./css/bulma-extensions.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body onload="generateStyledTitle()">
    <div class="grid-master">
        <div class="grid-slave head-div" id="titleWrapper"></div>
            <div class="grid-slave master-div" id="master">
                <a href="https://github.com/nmluci">
                    Coded by Fuyuna
                    <img id="master-git-img" src="{{ url_for('static', filename='src/GitHub-Mark-32px.png') }}">
                </a>
            </div>    
        <div class="grid-slave res-div mainbase">
            <div class="centered">
                <!-- <img class="res-img" src="{{ url_for('static', filename='src/thumb.webp')  }}"> -->
                <img class="res-img" src="{{ book.thumbnail }}">
            </div>
        </div>
        <div class="grid-slave output-div mainbase">
            <div class="metadata-wrapper" id="metadata">
                {% if book.id %}
                <label class="metadata-label">Sauce</label>
                <div class="metadata" id="nukeID">{{ book.id }}</div>
                {% endif %}
                {% if book.title %}
                <label class="metadata-label">Title</label>
                <div class="metadata" id="nukeTitle">{{ book.title.pretty}}</div>
                {% endif %}
                {% if book.character %}
                <label class="metadata-label">Character</label>
                <div class="metadata" id="nukeChar">{{ book.character }}</div>
                {% endif %}
                {% if book.tags %}
                <label class="metadata-label">Tags</label>
                <div class="metadata" id="nukeTag">{{ book.tags}}</div>
                {% endif %}
                {% if book.num_pages %}
                <label class="metadata-label">Pages</label>
                <div class="metadata" id="nukeNumPage">{{ book.num_pages}}</div>
                {% endif %}
                <a id="nukeid"></a>
                <form id="random" action="/random" method="GET"></form>
                <button form="random" name="randomNuke" type="submit">Random!</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>